* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: #fff;
}

header {
    padding: 10px 20px;
    background-color: #252526;
    border-bottom: 1px solid #333;
}

main {
    height: calc(100% - 50px);
}

#editor {
    width: 100%;
    height: 100%;
}
